<table id="<%= dom_id request %>" class:='table'>
  <p>
    <strong>Category:</strong>
    <%= request.category %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= request.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= request.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= request.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= request.phone %>
  </p>

  <p>
    <strong>Text of request:</strong>
    <%= request.text_of_request %>
  </p>

</table>
