
<p>
<div class="card">
  <div class="card-header">
    <%=@request.category%>
    
  </div>

    <div class="card-body">
      <br>
      <h5 class="card-title"><%=@request.last_name+' '+@request.first_name%></h5>
      <h5 class="card-title"><%=@request.email+"  "%>|<%="  "+@request.phone%></h5>
      <br>
      <p class="card-text"><%=@request.text_of_request%></p>
      
  
      <br>
      <%if current_user.id== @request.user_id or  current_user.admin_permit%>
        <%= link_to "Edit this request", edit_request_path(@request),class:"btn btn-outline-primary" %>
      |<%end%> 
      <%= link_to "Back to requests", requests_path,class:"btn btn-outline-primary" %>
      <br>
      <br>
      <% if current_user.admin_permit %>
         <%= button_to "Destroy this request", @request,class: "btn btn-danger", method: :delete %>
      <% end %>
  
    </div>
</div>

</p>
<div>


</div>
<%=render "comments/form"%>
