<nav class="navbar navbar-expand-lg navbar-indigo ">  
  <div class="container-fluid">
  <%= link_to 'VaultTec', root_path,class:"navbar-brand"%>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
          <%= link_to 'Contacts',home_about_path,class:"nav-link"%>
        </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Request',requests_path,class:"nav-link"%>
            </li>
          
            <li class="nav-item">
              <%= link_to 'Add request',new_request_path,class:"nav-link"%>
            </li>  
        <% end %>
        

      </ul>
      <ul class="navbar-nav ">
        <% if user_signed_in? %>
            
            <li class="nav-button " >

              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
              
            </li>
        <% else%>   
            <li class="nav-button " >
            
              <%= button_to 'Log in',new_user_session_path,class: "btn btn-success"%>
            </li>

            <li class="nav-button" >
              
              <%= link_to 'Registration',new_user_registration_path,class: "btn btn-warning"%>
            </li>
          <% end %>

      </ul>
      
      
        
      
    </div>
  </div>
</nav>